nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  color: black;
  padding: 1rem;
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
  }

  li {

    list-style: none;
    margin: 0;
    padding-left: 2rem;
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: paleturquoise;
    }
  }

  h1{
    cursor: pointer;
    font-weight: bold;
    color: #fff;
  }
}
